{;; Projektnumret som allt ska bokföras under.
 :projekt 2019
 ;; Vänsterledet är ett reguljärt uttryck som matchas mot meddelandet
 ;; i var post i swishrapporten, matchar det reguljära uttrycket får
 ;; raden kategorin i högerledet associerad med sig.
 ;;   Anledningen till att vi använder en sekvens istället för en
 ;; associativ datastruktur är att ordningen spelar roll, tidigare
 ;; regler kommer alltid användas före om de matchar.
 :meddelande-regex->kategori [#"Spexprogram"   :programblad
                              #"(?i)märke"     :märke
                              #"(?i)program"   :programblad
                              #"(?i)fika"      :fika
                              #"(?i)godis"     :fika
                              #"(?i)trocadero" :fika
                              #"(?i)bulle"     :fika
                              #"(?i)dricka"    :fika
                              #"(?i)kaffe"     :fika
                              #"(?i)flipper"   :fika
                              #"(?i)läsk"      :fika
                              #"(?i)trocca"    :fika
                              #"(?i)cola"      :fika
                              #"(?i)vatten"    :fika
                              #"(?i)kiosk"     :fika
                              #"(?i)coffee"    :fika]
 ;; Efter kategoriseringen via meddelande är slutfört körs en sekundär
 ;; kategorisering baserat på pris igång.
 :absolutbelopp->kategori    [5                :fika
                              10               :fika
                              15               :fika
                              25               :programblad]
 ;; Efter kategoriseringen via absolutbelopp så gör vi ytterligare en
 ;; kategorisering där vi kollar på huruvida beloppet är jämn delbart
 ;; med något av de nedanstående.
 :delbelopp->kategori        []
 ;; Vilket kreditkonto bokförs var kategori under?
 :kategori->kreditkonto      {:programblad     3144
                              :märke           3149
                              :biljett         3152
                              :fika            3155
                              :okategoriserat  9999}
 ;; Vilket underprojekt bör var kategori sorteras in under?
 :kategori->underprojekt     {:programblad     501
                              :märke           501
                              :biljett         501
                              :fika            501
                              :okategoriserat  nil}
 ;; Var swishrapport är för ett visst kontonummer hos banken. Detta
 ;; konto på banken representeras i bokföringen av ett debetkonto. Här
 ;; beskriver du kopplingen mellan bankkontonummer och
 ;; bokföringskontonummer.
 :kontonummer->debetkonto    {"9745920174"     1930  ; Föreningen
                              "9747782192"     1932  ; Kiosk
                              "9842294986"     1936  ; Biljetter
                              "6944155933"     1939} ; Internförsäljning
}
